openapi: '3.0.0'
info:
  version: 1.0.0
  title: sarath chandra API
  license:
    name: MIT
servers:
  - url: https://api.sarathchandra.com/v1
paths:
  /docs:
    get:
      summary: List all documentation projects
      operationId: listDocs
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of documentation projects
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation project
      operationId: createDocs
      responses:
        201:
          description: Project creation successful
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /docs/{docId}:
    get:
      summary: Retrieve details for a specific documentation project
      operationId: showDocById
      parameters:
        - name: docId
          in: path
          required: true
          description: The unique identifier of the documentation project
          schema:
            type: string
      responses:
        200:
          description: Detailed information about the requested documentation project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Doc:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Docs:
      type: array
      items:
        $ref: '#/components/schemas/Doc'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string